[submodule "Submodules/DropdownTitleView"]
	path = Submodules/DropdownTitleView
	url = https://github.com/GitHawkApp/DropdownTitleView
[submodule "Submodules/Sourceful"]
	path = Submodules/Sourceful
	url = git@github.com:hartlco/Sourceful.git
