<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DocumentThumbnailConfiguration</key>
	<dict>
		<key>accentColorHash</key>
		<data>
		JgFMhzAEJCnbgFWigbUyiqADBFjWeAIR3L75LTcXAEc=
		</data>
		<key>appIconHash</key>
		<data>
		oZVLFadFmi9/bAPYe3OWODBhb+73yThT/lwFvplidrw=
		</data>
		<key>thumbnailIsPrerendered</key>
		<false/>
	</dict>
</dict>
</plist>
